<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>tab5</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-grid>
      <ion-row>
        <ion-col size-md="6">
          <!-- Imagen ocupa toda la fila en pantallas pequeñas -->
          <img src="../../assets/logo.png" alt="Producto" class="product-image" />
        </ion-col>
        <ion-col size-md="6">
          <!-- Título y Descripción ocupan toda la fila en pantallas grandes -->
          <h2 class="product-title">Título del Producto</h2>
          <p class="product-description">
            Descripción detallada del producto.
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  
  </ion-content>
