.product-image {
    width: 100%;
    height: auto;
    background-color: rgb(20, 14, 14);
  }
  
  .product-title {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .product-description {
    font-size: 1em;
  }
  #img{
    order: 1;
    width: 100%;
  }
  #text{
    order: 2;
    width: 100%;
  }
  @media screen and (min-width: 992px) {
    #img {
      order: 2;
    }

    #text {
      order: 1;
    }
  }

