<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>tab5</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-grid>
      <ion-row>
        <ion-col size-xs="12" size-lg="6" id="img">
          <!-- Imagen ocupa toda la fila en pantallas pequeñas -->
          <img src="../../assets/logo.png" alt="Producto" class="product-image" />
        </ion-col>
        <ion-col  size-xs="6" size-lg="12" id="text" >
          <!-- Título y Descripción ocupan toda la fila en pantallas grandes -->
          <h2 class="product-title">Don Bosco</h2>
          <p class="product-description">
            A la edad de 9 años Juan tuvo un sueño profético que marcó toda su vida: él sería pastor y guía de 
            los niños y jóvenes más necesitados. Tenía pues que estudiar y prepararse bien y, como en casa había 
            muchas dificultades, tuvo que buscar trabajo en un pueblo cercano. Allí, pudo alternar su trabajo en el campo y el 
            establo con el estudio y la oración. Más adelante, en 1829 don Calosso, (capellán de Murialdo) se ofrece como su primer profesor de latín 
            </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  
  </ion-content>
